@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#calendarAdmin__current h1, #calendarAdmin__next h1 {
	font-family: Montserrat;
	color: white;
}

.calendar-admin-out {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;
	transition: 1s;
	opacity: 0;
}

.calendar-admin-cont {
	width: 80%;
	height: 80%;
	background-color: black;
	margin: 0px auto;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.shown {
	display: flex;
	opacity: 1;
	transition: 1s;
}

.calendar-admin-slider {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calendarAdmin__current, #calendarAdmin__next {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.dateCellAdmin {
	cursor: pointer;
}

.dateCellAdmin:hover {
	transition: .2s all ease-in;
	background: rgba(100,100,100,0.2);
}

td, th {
	padding: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	color: white;
}

/*Выделение выходных красным*/
td:nth-child(6), td:nth-child(7), th:nth-child(6), th:nth-child(7) { 
	color: red;
}

.pickMonthButton {
	width: 140px;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	outline: 0;
	border: none;
	color: white;
	font-family: Montserrat;
	background: #EF7F1A;
	font-weight: bold;
	cursor: pointer;
}

.pickWeekendButton {
	width: 150px;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	outline: 0;
	border: none;
	color: white;
	font-family: Montserrat;
	background: green;
	font-weight: bold;
	cursor: pointer;
}