@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#calendar__current h1, #calendar__next h1 {
	font-family: Montserrat;
}

.calendar-out {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;
	transition: 1s;
	opacity: 0;
}

.calendar-cont {
	width: 80%;
	height: 80%;
	background-color: white;
	margin: 0px auto;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.calendar-cont-close {
	width: 20px;
	height: 20px;
	background: black;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
	z-index: 1;
}

.choose-time-out {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;
	transition: 1s;
	opacity: 0;
}

.choose-time-slider {
	width: 100%;
}

.choose-time-cont {
	width: 60%;
	background-color: white;
	margin: 0px auto;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.choose-time-cont .slick-list {
	width: 100%;
}

.choose-time-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1vw;
	height: 100%;
	width: 100%;
}

.choose-time__time-element {
	background: rgba(0,0,0,0.05);
	border-radius: 5px;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.choose-time__element-date {
	display: flex;
	flex-direction: column;
	font-family: Montserrat;
	text-align: center;
	font-size: 12px;
}

.choose-time__element-time {
	font-family: Montserrat;
	font-size: 24px;
	font-weight: bold;
}

.gap-choise-out {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;
	transition: 1s;
	opacity: 0;
}

.gap-choise-cont {
	width: 40%;
	height: 20%;
	background-color: white;
	margin: 0px auto;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.worktime-choise-out {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;
	transition: 1s;
	opacity: 0;
}

.worktime-choise-cont {
	width: 40%;
	height: 20%;
	background-color: white;
	margin: 0px auto;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Montserrat;
	align-items: center;
}

.worktime-choise-cont__selects {
	display: flex;
	justify-content: center;
	align-items: center;
}

.show-time {
	display: flex;
	opacity: 1;
	transition: 1s;
	z-index: 2;
}

.shown {
	display: flex;
	opacity: 1;
	transition: 1s;
}

.slick-slider {
	display: flex !important;
	height: 100% !important;
}

.slick-list, .slick-track {
	height: 100% !important;
}

.calendar-slider {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-next {
	background: black !important;
	right: 0 !important;
}

.slick-prev {
	background: black !important;
	left: 0 !important;
	z-index: 1;
}

#calendar__current, #calendar__next {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

table {
	font-family: Montserrat;
	border-collapse: collapse;
	width: 70%;
	height: 70%;
}

td {
	transition: .2s all ease-in;
}

.dateCell {
	cursor: pointer;
}

.dateCell:hover {
	transition: .2s all ease-in;
	background: rgba(100,100,100,0.2);
}

td, th {
	padding: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

/*Выделение выходных красным*/
td:nth-child(6), td:nth-child(7), th:nth-child(6), th:nth-child(7) { 
	color: red;
}

.admin-buttons {
	display: flex;
	flex-direction: column;
}

.admin-params-content {
	display: flex;
}

.buttons {
	display: flex;
}

.pickMonthButton {
	width: 140px;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	outline: 0;
	border: none;
	color: white;
	font-family: Montserrat;
	background: #EF7F1A;
	font-weight: bold;
	cursor: pointer;
}

.pickWeekendButton {
	width: 150px;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	outline: 0;
	border: none;
	color: white;
	font-family: Montserrat;
	background: green;
	font-weight: bold;
	cursor: pointer;
}

.pickWeekendButton-accept {
	width: 150px;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	outline: 0;
	border: none;
	color: white;
	font-family: Montserrat;
	background: green;
	font-weight: bold;
	cursor: pointer;
}

.pickGapButton {
	width: 150px;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	outline: 0;
	border: none;
	color: white;
	font-family: Montserrat;
	background: red;
	font-weight: bold;
	cursor: pointer;
}

.gapChoiseButton {
	width: 40%;
	height: 40%;
	margin: 10px;
}

.pickWorktimeButton {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	outline: 0;
	border: none;
	color: white;
	font-family: Montserrat;
	background: red;
	font-weight: bold;
	cursor: pointer;
}

.pickWorktimeButton-accept {
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	outline: 0;
	border: none;
	color: white;
	font-family: Montserrat;
	background: green;
	font-weight: bold;
	cursor: pointer;
}

.toggled {
	background: blue !important;
	color: white !important;
}

.user .inactive {
	background: rgba(0,0,0,0.2);
	cursor: auto;

}

.admin .inactive {
	background: green;
	color: white;
}

.worktime-choise-cont__time-h, .worktime-choise-cont__time-m {
	width: 100px;
	height: 50px;
	font-size: 16px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	font-weight: bold;
}

.worktime-choise-cont__open-time {
	margin-right: 15px;
}

.worktime-choise-cont__close-time {
	margin-left: 15px;
}

.worktime-choise-cont span {
	font-size: 30px;
	font-weight: bold;
}

.worktime-choise-cont option {
	font-weight: bold;
	font-size: 16px;
}

.worktime-choise-cont__text {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
