@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#calendarAdmin__current h1, #calendarAdmin__next h1 {
	font-family: Montserrat;
	color: white;
}

.calendar-admin-out {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;
	transition: 1s;
	opacity: 0;
}

.calendar-admin-cont {
	width: 80%;
	height: 80%;
	background-color: black;
	margin: 0px auto;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.shown {
	display: flex;
	opacity: 1;
	transition: 1s;
}

.calendar-admin-slider {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calendarAdmin__current, #calendarAdmin__next {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.dateCellAdmin {
	cursor: pointer;
}

.dateCellAdmin:hover {
	transition: .2s all ease-in;
	background: rgba(100,100,100,0.2);
}

td, th {
	color: white;
}